:root {
  color-scheme: light;
  color: var(--c-black);
  background-color: var(--c-light);

  --c-black: #000;
  --c-white: #ffffff;
  --c-light: #ffffff;
  --c-dark:  #2e2e2e;

  --c-warn-light: orangered;
  --c-warn-dark:  orange;

  --c-green: #86BD42;
  --c-blue: #0199B1;
}

h1{
  color: var(--c-green);
}

a {
  color: var(--c-blue);
  text-decoration: inherit;
}
a:hover {
  color: var(--c-dark-link-hover);
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#pen{
  position: absolute;
  bottom: 0;
  right: 0;
  max-width: 5em;
  z-index: -999;
}

.card {
  padding: 2em;
}

button {
  border-radius: 10em;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--c-green);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--c-light);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

button a{
  color: white;
}

input {
  border-radius: 4em;
  border: 0px;
  width: 2.2em;
  height: 2.2em;
  text-align: right;
  font-size:1.5em;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 900;
  color: var(--c-light);
  background-color: var(--c-green);
}

ol{
  text-align: left;
}

hr{
  margin-top: 1em;
  margin-bottom: 3em;
  border-color: #aaaaaa10;
}

.warning {
  font-weight: 900;
  color: var(--c-warn-light);
}

.sticker-input{
  background-color: #fff;
  border-radius: 4em;
  padding: 0.5em;
  padding-left: 1em;
  border: solid 1px #eee;
}

#ffmpeg-area{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  gap: 3em;
}

.zone {
  width: 100%;
  height: 4em;
  border: 2px dashed #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--c-white);
}


@keyframes pulse {
  0% {
    background-color: #001F3F;
  }
  50% {
    background-color: #FF4136;
  }
  100% {
    background-color: #001F3F;
  }
}
