:root {
  color-scheme: light dark;
  color: light-dark(var(--c-black),var(--c-white));
  background-color: light-dark(var(--c-light),var(--c-dark));

  --c-black: #000;
  --c-white: #ffffff;
  --c-light: #ffffff;
  --c-dark:  #2e2e2e;

  --c-warn-light: orangered;
  --c-warn-dark:  orange;

  --c-dark-link: #0199B1;
  --c-dark-link-hover: #0199B1;

  --c-green: #86BD42;
  --c-blue: #0199B1;
}

h1, h2, h3{
  color: var(--c-blue);
}

a {
  color: var(--c-dark-link);
  text-decoration: inherit;
}
a:hover {
  color: var(--c-dark-link-hover);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#pen{
  position: absolute;
  bottom: 0;
  right: 0;
  max-width: 5em;
  z-index: -999;
}

.card {
  padding: 2em;
}

button {
  border-radius: 10em;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--c-green);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--c-light);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

button a{
  color: white;
}

ol{
  text-align: left;
}

hr{
  margin-top: 1em;
  margin-bottom: 3em;
  border-color: #aaaaaa10;
}

.warning {
  font-weight: 900;
  color: light-dark(var(--c-warn-light),var(--c-warn-dark));
}

#ffmpeg-area{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  gap: 3em;
}

.zone {
  width: 100%;
  height: 4em;
  border: 2px dashed #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
}

