:root {

  --c-black: #000;
  --c-white: #ffffff;
  --c-light: #fefefe;
  --c-dark:  #2e2e2e;
  --c-gray:  #aaaaaa;
  --c-yellow-highlight: #fffae6;
  
  --c-warn-light: orangered;
  --c-warn-dark:  orange;

  --c-green: #86BD42;
  --c-blue: #0199B1;

  color-scheme: light;
  color: var(--c-black);
  background-color: var(--c-white);
}

h1{
  color: var(--c-green);
  padding-top: 0%;
  margin-top: 0%;

}

a {
  color: var(--c-blue);
  text-decoration: inherit;
}
a:hover {
  color: var(--c-dark-link-hover);
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

button {
  width: 51%;
  height: 5em;
  border-radius: 10em;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--c-green);
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: var(--c-light);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

button a{
  color: white;
}

input {
  border-radius: 4em;
  border: 0px;
  width: 2.2em;
  height: 2.2em;
  text-align: right;
  font-size:1.5em;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 900;
  color: var(--c-light);
  background-color: var(--c-green);
}

code{
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  background-color: #eee;
  padding-left: 0.3em;
  padding-right: 0.3em;
}

ol{
  text-align: left;
}

ul{
  list-style-type: none;
}

ul li{
  text-indent: -1.3rem;
}

hr{
  margin-top: 2em;
  margin-bottom: 2em;
  border-color: #aaaaaa10;
}

details {
  border-radius: 20px;
  text-align: left;
  border: 1px solid var(--c-gray);
  padding: 0.5em 0.5em 0;
  background-color: var(--c-white);
  margin-bottom: 1em;
}

summary {
  font-weight: bold;
  margin: -0.5em -0.5em 0;
  padding: 0.5em;
}

summary:hover {
  color: var(--c-green);
  cursor:pointer;
}

details[open] {
  padding: 0.5em 0.5em 0.5em;

}

.warning {
  font-weight: 900;
  background-color: var(--c-yellow-highlight);
  padding-left: 0.3em;
  padding-right: 0.3em;
}

.orange{
  color: var(--c-warn-light);
}

.green{
  color: var(--c-green);
}

.card {
  padding: 2em;
}

.sticker-input{
  display: flex;
  background-color: var(--c-white);
  height: 5em;
  border-radius: 4em;
  padding-left: 1em;
  padding-right: 1em;
  border: solid 1px var(--c-gray);
  margin: 0px;
  align-items: center;
  justify-content: center;
}

.zone {
  margin: 0px;
  padding-left: 1em;
  padding-right: 1em;
  height: 5em ;
  border: 1.5px dashed var(--c-gray);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--c-white);
}

#ffmpeg-area{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 1em;
}

#app {
  max-width: 960px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#pen{
  position: fixed;
  bottom: 0;
  right: 0;
  max-width: 5em;
  z-index: -999;
}

.animate {
  animation-duration: 0.5s;
  animation-name: animate-fade;
  animation-delay: 0.5s;
  animation-fill-mode: backwards;
  animation-timing-function: ease;
}

@keyframes animate-fade {
  0% {
    opacity: 0;
    transform:scaleY(0%);}
  70% {
    transform: scaleY(105%);  }
  100% {
    opacity: 1;
    transform: scaleY(100%); }
}

@media screen and (prefers-reduced-motion: reduce) {
  .animate { animation: none !important; }
}